<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} | {% endif %} Rhiana & Daniel Heath</title>
      <style>
          body > div {
            width: 50%;
            height: 100%;
          }

          a, img {
            width: 100%;
            height: 100%;
          }

          #left {
            float: left;
          }
          #right {
            float: right;
          }

      </style>
	</head>

	<body>
		<div id="left">
      <a href="http://rhiana.heath.cc">
  			<img src="http://rhiana.heath.cc/img/rhiana1.JPG" alt="Rhiana"></img>
      </a>
		</div>

		<div id="right">
      <a href="http://daniel.heath.cc">
        <img src="http://daniel.heath.cc/profile-pic.png" alt="Daniel"></img>
      </a>
		</div>

	</body>

</html>
